.cart-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
  .cart {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 150px;
    z-index: 10;
    width: 350px;
    height: 100%;
    top: 0;
    padding-top: 80px;
    box-shadow: -18px 4px 18px rgba(0, 0, 0, 0.6);
    border-left: solid 1px #363636;
    background-color: $bg;
    transition: .3s ease;
    -webkit-overflow-scrolling: touch;
    .content {
      padding: 20px 30px;
      overflow: auto;
      .empty {
        padding: 0 30px;
        margin-bottom: 20px;
        .title {
          display: flex;
          align-items: center;
          margin-bottom: 40px;
          img {
            width: 50px;
          }
          .text {
            margin-left: 20px;
          }
        }
        .text-info{
          font-size: 14px;
          color: $gray-color;
        }
      }
    }
    .total {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 350px;
      .min-sum {
        font-size: 14px;
        color: $gray-color;
        padding: 20px;
        border-top: solid 1px #363636;
        border-bottom: solid 1px #363636;
      }
      .total-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        .price {
          margin-right: 10px;
          .money {
            font-family: $roboto;
            font-size: 24px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    opacity: 0;
    visibility: hidden;
  }
}
.cart-container.show {
  opacity: 1;
  visibility: visible;
  z-index: 13;
}

.order-aside {
  h3 {
    margin-bottom: 20px;
  }
  .order-item {
    display: flex;
    border-bottom: solid 1px #363636;
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px;
    .btn-close {
      right: 0;
      top: 0;
      position: absolute;
      width: 25px;
      height: 25px;
      border: solid 1px #999999;
      background: none;
      outline: none;
      border-radius: 50%;
      flex-shrink: 0;
      &:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 1px;
        background-color: #999999;
        transform: rotate(45deg);
      }
      &:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 1px;
        background-color: #999999;
        transform: rotate(-45deg);
      }
      &:hover {
        border-color: $accent;
        &:after, &:before {
          background-color: $accent;
        }
      }
    }
    .info {
      .title-item {
        font-size: 14px;
        line-height: 1.4;
        color: #E4E4E4;
        margin-bottom: 10px;
      }
      .wrapper-quantity {
        display: flex;
        align-items: center;
      }
      .price {
        font-size: 18px;
        font-family: $roboto;
        margin-left: 10px;
        span {
          font-size: 16px;
        }
      }
    }
    .image {
      min-width: auto;
      max-width: 120px;
    }
  }
  .row-inputs {
    display: flex;
    .custom-input {
      width: 50%;
      &:first-child {
        margin-right: 5px;
      }
      &:nth-child(2) {
        margin-left: 5px;
      }
    }
  }
}