.contacts {

  .contacts-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .cart-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 15px);
    margin-bottom: 30px;
    &:first-child { margin-right: 15px; }
    &:nth-child(2n) { margin-left: 15px; }
    &:nth-child(3n) { margin-right: 15px; }
    p {
      margin-bottom: 30px;
      font-size: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .marker-icon {
      font-size: 36px;
      color: $accent;
      margin-bottom: 30px;
    }
  }
  .cart-block.slim {
    width: calc(40% - 15px);
  }
  .cart-block.decorated {
    padding: 30px;
    background-color: black;
    border: solid 1px #383838;
    border-radius: 20px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.6);
  }
  .cart-block.maps-wrap {
    width: calc(60% - 15px);
  }
  .cart-block.maps-wrap.wide {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .title {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }
  .tel-wrap {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        margin-right: 15px;
      }
      a {
        color: $accent;
        font-family: $roboto;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
  .contact-social {
    display: flex;
    justify-content: center;
    li {
      margin-right: 10px;
      a {
        i {
          font-size: 36px;
        }
        &:hover {
          color: $accent;
        }
      }
    }
  }
  .maps-wrap {
    .google-maps {
      width: 100%;
      overflow: hidden;
      border-radius: 20px;
      iframe {
        float: left;
        width: 100%;
        height: 500px;
      }
    }
  }

  @media only screen and (max-width: 1240px) {
    .cart-block {
      width: 100%;
      &:first-child,&:nth-child(2n), &:nth-child(3n) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    .cart-block.slim {
      width: 100%;
    }
    .cart-block.maps-wrap {
      width: 100%;
    }
    .tel-wrap li {
      justify-content: center;
    }
    .maps-wrap {
      width: 100%;
      margin-bottom: 20px;
    }

  }
  @media only screen and (max-width: 768px) {
    .cart-block.decorated {
      padding: 20px;
    }
    .cart-block.maps-wrap .google-maps {
      iframe {
        height: 400px;
      }
    }
  }
  @media only screen and (max-width: 450px) {
    .tel-wrap li a {
      font-size: 18px;
    }
  }
}



//#mapid { height: 500px; }