@import "vars";
@import "fonts";
@import "header";
@import "buttons";
@import "categories";
@import "cart";
@import "inputs";
@import "swiper-slider-custom";
@import "footer";

::-moz-selection {
	background-color: $accent;
	color: #fff;
}
::selection {
	background-color: $accent;
	color: #fff;
}
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	font-family: $default;
	color: $text;
	overflow-x: hidden;
	display: flex;
    flex-direction: column;
    background-color: $bg;
}

img, svg {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}
input, button, textarea {
	outline: none;
	font-family: $default;
	&:focus {
		outline: none;
	}
}
input, textarea {
	padding: 10px;
}
textarea {
	resize: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	@extend.animate;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}
h1, h2, h3, h4 {
	font-weight: inherit;
}
button {
	color: #fff;
	border: 1px solid currentColor;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-weight: bold;
	@extend.animate;
	&:hover {
		color: #ffffff;
	}
}
.animate {
	transition: all 0.3s ease;
}
.no_scroll {
	overflow: hidden;
	&:after {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.6);
	}
}

////main content

.main {
  margin-top: 80px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-right: calc(0px + 350px);
  padding-left: calc(0px + 75px);
  .inner-content {
    padding: 30px;
  }
  @media only screen and (max-width: 1024px) {
    padding: 20px;
    padding-bottom: 80px;
    .inner-content {
      padding: 30px 0;
    }
  }

}

.small {
  font-size: 12px;
}

.roboto {
   font-family: $roboto;
}

.accent-text {
  color: $accent;
}



.rolls-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    font-size: 24px;
    margin-right: 20px;
  }
  .btn-transparent {
    margin-left: auto;
  }
}

.product-list {
  display: flex;
  .product-item {
    padding: 20px;
    margin-bottom: 20px;
    background-color: black;
    border: solid 1px #383838;
    border-radius: 20px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.6);
    .cat-image {
      text-align: center;
      margin-bottom: 10px;
    }
    .cat-slide-content {

      .cat-slide-name a {
         display: inline-block;
        margin-bottom: 15px;
      }
      .cat-slide-desc {
        color: #999999;
        font-size: 13px;
        margin-bottom: 15px;
      }
    }
    .cat-slide-buy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .price {
        font-family: $roboto;
        font-size: 18px;
        span {
          font-family: $default;
          font-size: 14px;
          margin-left: 10px;
        }

      }
    }

  }
}

@import "media"; /* Always at the end*/
