@import "vars";
@import "fonts";
@import "header";
@import "buttons";
@import "categories";
@import "cart";
@import "inputs";
@import "sliders";
@import "tabs";
@import "footer";

::-moz-selection {
	background-color: $accent;
	color: #fff;
}
::selection {
	background-color: $accent;
	color: #fff;
}
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	font-family: $default;
	color: $text;
	overflow-x: hidden;
	display: flex;
    flex-direction: column;
    background-color: $bg;
}
img, svg {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}
input, button, textarea {
	outline: none;
	font-family: $default;
	&:focus {
		outline: none;
	}
}
input, textarea {
	padding: 10px;
}
textarea {
	resize: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	@extend.animate;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}
h1, h2, h3, h4 {
	font-weight: inherit;
}
button {
	color: #fff;
	border: 1px solid currentColor;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-weight: bold;
	@extend.animate;
	&:hover {
		color: #ffffff;
	}
}
.animate {
	transition: all 0.3s ease;
}
.no_scroll {
	overflow: hidden;
	&:after {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.6);
	}
}

////main content
.border-cards {
  background-color: black;
  border: solid 1px #383838;
  border-radius: 20px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.main {
  margin-top: 80px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-right: calc(0px + 350px);
  padding-left: calc(0px + 75px);
  .inner-content {
    padding: 30px;
  }
  @media only screen and (max-width: 1024px) {
    padding: 20px;
    padding-bottom: 80px;
    .inner-content {
      padding: 30px 0;
    }
  }

}

.small {
  font-size: 12px;
}

.roboto {
   font-family: $roboto;
}

.accent-text {
  color: $accent;
}

.products-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    font-size: 24px;
    margin-right: 20px;
    line-height: 1.2;
  }
  .btn-transparent {
    margin-left: auto;
  }
  .next_btn, .prev_btn {
    margin-right: 10px;
  }
  @media only screen and (max-width: 1240px) {
    h2 {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    h2 {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}



.product-list {
  display: flex;
  .product-item {
    width: 220px;
    height: initial;
    display: flex;
    flex-direction: column;
  }
}

.product-item {
  @extend .border-cards;
  margin-bottom: 20px;
  .cat-image {
    text-align: center;
    margin-bottom: 10px;
  }
  .cat-slide-content {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    .cat-slide-name a {
      display: inline-block;
      margin-bottom: 15px;
      line-height: 1.2;
    }
    .cat-slide-desc {
      color: #999999;
      font-size: 13px;
      margin-bottom: 15px;
      flex-grow: 5;
    }
  }
  .cat-slide-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .price {
      font-family: $roboto;
      font-size: 18px;
      span {
        font-family: $default;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

.product-grid.product-list {
  flex-wrap: wrap;
  .product-item {
    width: 25%;
  }
}

.breadcrumbs {
  font-size: 13px;
  margin-bottom: 20px;
  .direction-home {
    color: $accent;
  }
}

.wrapper-product-cart {
  @extend .border-cards;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding: 40px;
  .product-image {
    display: flex;
    justify-content: center;
    width: 45%;
    padding-right: 20px;
  }
  .product-content {
    width: 55%;
    padding-left: 20px;
    padding-right: 20px;
    .title {
      font-size: 30px;
      max-width: 250px;
      line-height: 1.2;
      margin-bottom: 20px;
    }
    .total {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 40px;
      .weight {
        margin-right: 10%;
        color: $accent;
        font-size: 18px;
      }
      .price {
        margin-right: 10%;
        font-size: 30px;
        font-weight: 600;
        font-family: $roboto;
        line-height: 1;
        span {
          font-family: $default;
          font-size: 14px;
        }
      }
    }
    .consist {
      .consist-list {
        align-items: center;
        margin: 20px 0;
        .consist-item {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          .wrapper-img {
            height: 50px;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
          }
          .title {
            font-size: 11px;
            text-align: center;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1240px) {
    flex-wrap: wrap;
    .product-image {
      width: 100%;
      padding: 0;
    }
    .product-content {
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 20px;
    .product-content {
      .title {
        max-width: 100%;
      }
      .total {
        .weight {
          width: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: 376px) {
    padding: 0;
    border: none;
    .product-content {
      padding: 0;
      .consist {
        padding: 0 20px;
      }
    }

  }
}

@import "media"; /* Always at the end*/
